 <mat-toolbar color="primary">
        <mat-toolbar-row>        
         <img class="img-responsive" src="../../assets/logo2.png">
           <span>Employee Management</span>
           <span class="spacer"></span>         
           
           <a mat-button (click)=AddEmployee()>Add Employee</a>
           <a mat-button (click)=EditEmployee()>Edit Employee</a>
           <a mat-button (click)=DeleteEmployee()>Delete Employee</a>                
        </mat-toolbar-row>              
 </mat-toolbar>


 